<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.ui.perspectiveExtensions" name="org.eclipse.ui.perspectiveExtensions" schema="schema/org.eclipse.ui.perspectiveExtensions.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="editor.Perspective"
            icon="icons/eclipse128.png"
            id="Editor.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="editor.MainView"
            id="Editor.view1"
            name="MainView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="Editor.perspective">
         <view
               id="Editor.view1"
               minimized="false"
               relationship="left"
               relative="Editor.view1">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="editor.OpenFile"
            id="org.eclipse.ui.edit.text.openLocalFile"
            name="Open">
      </command>
      <command
            defaultHandler="editor.SaveButton"
            id="org.eclipse.ui.file.save"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               tooltip="File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  id="Editor.OpenFile"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  id="Editor.SaveFile"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
